{% if options.styles|length %}
<style>
{{ options.styles }}
</style>
{% endif %}
<img-comparison-slider class="img-comparison-slider"{%
  if options.starting_position|length %} value="{{ options.starting_position }}"{% endif %}{%
  if options.hover|length %} hover="{{ options.hover }}"{% endif %}{%
  if options.direction|length %} direction="{{ options.direction }}"{% endif %}>
  {% if images|length >= 2 %}
    {% if options.show_captions == 'true' %}
      <figure slot="first" class="before">
        <img width="100%" src="{{ images[0].url }}" alt="{{ images[0].alt }}">
        {% if options.use_alt_as_caption == 'true' %}
          {% if images[0].alt|length %}
            <figcaption>{{ images[0].alt }}</figcaption>
          {% endif %}
        {% else %}
          {% if images[0].caption|length %}
          <figcaption>{{ images[0].caption }}</figcaption>
          {% endif %}
        {% endif %}
      </figure>
      <figure slot="second" class="after">
        <img width="100%" src="{{ images[1].url }}" alt="{{ images[1].alt }}">
        {% if options.use_alt_as_caption == 'true' %}
          {% if images[1].alt|length %}
            <figcaption>{{ images[1].alt }}</figcaption>
          {% endif %}
        {% else %}
          {% if images[1].caption|length %}
            <figcaption>{{ images[1].caption }}</figcaption>
          {% endif %}
        {% endif %}
      </figure>
    {% else %}
      <img slot="first" width="100%" src="{{ images[0].url }}" alt="{{ images[0].alt }}">
      <img slot="second" width="100%" src="{{ images[1].url }}" alt="{{ images[1].alt }}">
    {% endif %}
  {% endif %}
  {% if options.handle|length %}
    {% autoescape false %}{{ options.handle }}{% endautoescape %}
  {% endif %}
</img-comparison-slider>
